.center{
    text-align: center;
    text-color: black;
    font-weight: bold;
}


body{
    background-image: url(images/mazelarge.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-color: #cccccc;
    text-align: center;
    text-color: black;
}

a:link{
    color: #FF000;
}

a:visited{
    color: #00FF00;
}

a:hover {
    color: #FF00FF;
    font-weight: bold;
}

a:active{
    color: #0000FF;
}