<!DOCTYPE html>
<html>
  <head>
    <title>About Page</title>
    <meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1"/>
    <link rel="stylesheet" href="../static/style.css" type="text/css" charset="utf-8"/>
  </head>

  <body>
    <div id="container">
      <div id="menu">
	<ul>
	  <li id="m01"><a href="/">Home</a></li>
	  <li id="m02"><a href="about">About</a></li>
	  <li id="m03"><a href="https://github.com/artofelia/FPS">GitHub</a></li>
	  <li id="m04"><a href="http://www.urbandictionary.com/define.php?term=SWAG">Swag</a></li>
	  <li id="m05"><a href="maze">Maze</a></li>
	</ul>
      </div>
      <div id="header">
	<div id="logo"> <img src= {{ url_for('static',filename="images/logo.jpg") }} alt="logo" border="0" /> </div>
	<div id="swag"></div>
	<div id="welcome">
	  <h2>Why did we make this?</h2>
	  <img src= {{url_for('static',filename="images/welcome.gif")}} alt="photo 1" />
	  <p>Our team initially planned to create a FPS; a First-Person Social Network. However, as time progressed, we realized that making a social network in 3D is useless. There would be no reason to socialize in 3D since it would just be more of a hassle to get things done such as chatting or posting on a wall. It may look awesome, but it wouldn't be practical to use.</p>
	  <p>So instead, we decided to transform whatever we had for the social-network into a 3D maze racing game that uses the FaceBook friends list. This would allow players to compete against other players through FaceBook and race against each other to test their luck and memory.</p></div>
	<div class="clear"></div>
      </div>
      <div id="middle"></div>
      <div id="middle2"></div>
      <div id="content">
	<div id="left">
	  <h2>Current Status</h2>
	  <p>As of now, we are completing the 3D maze aspect and implementing a timing system for every individual player in the maze</p>
	  <p>Currently not working.</p>
	  <p>KMS</p>
	</div>
	<div id="right">
	  <h2>Photos</h2>
	  <img src={{url_for('static',filename="images/fps.jpg")}} alt="photo 1" /> <img src={{url_for('static',filename="images/mazerun.jpg")}} alt="photo 2" /> <img src={{url_for('static',filename="images/mazerace.jpg")}} alt="photo 3" /> <img src={{url_for('static',filename="images/bigmaze.jpg")}} alt="photo 4" /> <br />
	  <br />
	  <a class="more" href="#">more photos</a> </div>
	<div class="clear"></div>
      </div>
      <div id="footer">
      </div>
    </div>
  </body>
</html>
