<!DOCTYPE html>
<html>
   <head>
      <meta charset="utf-8">
      <title>phase 0</title>
      
	  <script src="static/scripts/gl-matrix.js"></script>
      <script src="static/scripts/phoria-util.js"></script>
      <script src="static/scripts/phoria-entity.js"></script>
      <script src="static/scripts/phoria-scene.js"></script>
      <script src="static/scripts/phoria-renderer.js"></script>
      <script src="static/scripts/dat.gui.min.js"></script>
      <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/0.9.16/socket.io.min.js"></script>

	  
      <script src="static/game.js"></script>
		
   </head>
   
   <body style="background-color: #bfbfbf">
      <canvas id="canvas" width="800" height="600" style="background-color: #eee"></canvas>
      
   </body>
</html>
