<!DOCTYPE html>
<html>
  <head>
    <title> FPS </title>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="static/roymustang.css">
    <link rel="shortcut icon" href={{url_for('static',filename="images/smallmaze.gif")}} type="image/x-icon" />
	
 </head>

  <body style="background-color: #bfbfbf">

    <canvas id="canvas" width="900" height="700" style="background-color: #eee"></canvas>
    
    <!--These are the scripts from Phoria to render the 3D graphics and web sockets-->

    <script src="http://http://104.236.15.26:5000/socket.io/socket.io.js"></script>
    <script src="static/scripts/gl-matrix.js"></script>
    <script src="static/scripts/phoria-util.js"></script>
    <script src="static/scripts/phoria-entity.js"></script>
    <script src="static/scripts/phoria-scene.js"></script>
    <script src="static/scripts/phoria-renderer.js"></script>
    <script src="static/scripts/dat.gui.min.js"></script>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/0.9.16/socket.io.min.js"></script>
  
    <!--Load the rendering-->
    <script src="static/game.js"></script>

    <!--This is the script to implement the Facebook Login from the API-->
    <script src="static/login.js"></script>

    <!--The actual HTML/CSS layout-->
    <br>
    <br>
    <center>
    <fb:login-button show_faces="false" auto_logout_link="true" scope="public_profile,email" onlogin="checkLoginState();">

    </fb:login-button>
    <br>

    <div id="players">
    </div>
    </center>
	
	<!--<div id="posbox">
	</div>-->

  </body>

</html>
